.hello {
    color:lawngreen;
    font-family: monospace;
}

/* whatever 
line break thats fine
*/

#hello {
    background-color: blue;
}

h1 {
    color: red;
}

body {
    background-color: black;
}